@mixin breakpoint($point) {
    @if $point =="mobile" {
        @media (max-width: 599px) {
            @content
        }
    }

    ;

    @if $point =="mid" {
        @media (max-width: 768px) {
            @content
        }
    }

    ;

    @if $point =="large" {
        @media (max-width: 1024px) {
            @content
        }
    }

    ;
}

@mixin btn-spacing() {
    padding: 1.2rem 3rem;
}

@mixin btn-outline($borderColor, $bgcolor) {
    border: 2px solid $borderColor;
    color: $borderColor;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;


    &::after {
        background-color: $bgcolor;
        border-radius: 3rem;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0);
        transform-origin: top left;
        transition: 0.3s transform ease-out;
        will-change: transform;
        z-index: -1;
    }

    &:hover::after {
        transform: translate(0, 0);
    }

    &:hover {
        border: 2px solid transparent;
        color: white;
        transform: scale(1.05);
        will-change: transform;
    }
}