.about-section {
    padding-top: 6rem;
    padding-bottom: 3rem;

    @include breakpoint(mid) {
        
    }


    >.container {
        >.slogan {
            text-align: center;
            max-width: 55vw;
            margin: 0 auto;

            @include breakpoint(mid) {
                max-width: 100%;
                padding: 0 2%;
            }

            >.text {
                font-style: italic;
                font-size: 1.8rem;
                color: $light-gray;

                >.companyname {
                    font-weight: 700;
                }
            }
        }

        >.content {
            margin-top: 6rem;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            align-items: center;

            @include breakpoint(large) {
                grid-template-columns: 1fr;
            }

            >.left {
                >.title {
                    font-size: 2rem;
                    margin-bottom: 3rem;
                    color: $gray;
                    font-weight: 600;
                }

                >.text {
                    font-size: 1.6rem;
                    color: $light-gray;
                }
            }

            >.right {
                padding: 3rem;
                display: flex;
                justify-content: center;

                @include breakpoint(mobile) {
                    padding: 1rem;
                }

                >.img {
                    width: 100%;

                    @include breakpoint(large) {
                        width: 80%;
                    }

                    @include breakpoint(mid) {
                        width: 100%;
                    }
                }
            }
        }
    }
}