.first-section {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;

    @include breakpoint(mobile) {
        padding-right: 2%;
    }

    >.title {
        font-size: 4.2rem;
        line-height: 130%;
        margin-bottom: 2rem;
        color: #fff;

        @include breakpoint(mid) {
            font-size: 3rem;
        }
    }

    >.subtitle {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;

        @include breakpoint(mid) {
            font-size: 1.6rem;
        }

    }

}

.know-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    >.mail {
        width: 50%;

        @include breakpoint(mobile) {
            width: 100%
        }
    }

    >.button {
        @extend .btn-orange;
    }

}