.header-wrapper {
    background-image: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;

    color: white;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

    >.logo {
        font-size: 3.2rem;
    }

    >.menu-nav {
        >.menu {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 6rem;

            >.item {

                @include breakpoint(large) {
                    padding: 0 20px;
                    display: inline-block;
                    width: 100%;
                }

                >.link {
                    color: white;
                    font-size: 1.8rem;
                    font-size: 400;
                    letter-spacing: 1px;

                    @include breakpoint(large) {
                        padding: 1rem 0;
                        margin: 0 1rem;
                        border-bottom: 2px solid #fff;
                        display: inline-block;
                        width: 100%;
                    }

                }

                >.button {
                    @extend .btn-light-outline;

                    @include breakpoint(large) {
                        margin-top: 2rem;
                    }
                }
            }

            @include breakpoint(large) {
                position: absolute;
                width: 0;
                top: 0px;
                right: 0px;
                background-color: none;
                z-index: 1000;
                margin-top: -1px;
                transition: .5s;
                visibility: hidden;
                overflow-y: hidden;
                height: 100vh;
                // background-color: $main-orange;
                background-color: #231612f1;
                padding-top: 100px;

                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
            }
        }
    }

    .active {
        >.menu {
            width: 40%;
            visibility: visible;
            overflow-y: auto;

            @include breakpoint(mid) {
                width: 59%;
            }
        }

        #hamburguer {
            border-top-color: transparent;
            color: #fff;
        }

        #hamburguer::before {
            transform: rotate(135deg);
        }

        #hamburguer::after {
            transform: rotate(-135deg);
            top: -9px;
        }
    }
}

.menu-btn {
    display: none;
    padding: .5rem 1rem;
    font-size: 3rem;
    background: transparent;
    cursor: pointer;
    gap: .5rem;

    @include breakpoint(large) {
        display: flex;
    }
}


#hamburguer {
    color: $main-orange;
    border-top: 3px solid;
    width: 30px;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 9999;
}

#hamburguer::after,
#hamburguer::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    margin-top: 6px;
    transition: .3s;
    position: relative;
}