h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins";
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;

}

button {
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .25s;
}

p {
    font-weight: 400;
    line-height: 130%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 1.2rem 1.5rem;
    border-radius: 30px;
    font-size: 1.5rem;
}

textarea {
    height: 120px;
    resize: none;
}

select {
    padding: 1.2rem 1.5rem;
    border-radius: 30px;
    font-size: 1.5rem;
    appearance: none;
}