.btn-orange {
    background-color: $main-orange;
    color: white;
    @extend .btn-rounded;

    &:hover {
        background-color: $main-orange-hover;
    }
}

.btn-light-outline {
    @include btn-outline(#fff);
    @extend .btn-rounded;
}

.btn-outline-gray {
    @include btn-outline($light-gray);
    @extend .btn-rounded;
}

