.btn-orange {
    background-color: $main-orange;
    color: white;
    @extend .btn-rounded;

    &:hover {
        background-color: $main-orange-hover;
    }
}

.btn-light-outline {
    @include btn-outline(#fff, $main-orange);
    @extend .btn-rounded;


}

.btn-outline-gray {
    @extend .btn-light-outline;
    @include btn-outline($light-gray, $light-gray);
    @extend .btn-rounded;

    &::after {
        background-color: $light-gray;
        transform: translate(-100%, 0);
    }

    &:hover::after {
        transform: translate(0, 0);
    }

    &:hover {
        transform: none;
    }
}