.btn-orange {
    background-color: $main-orange;
    color: white;
    @extend .btn-rounded;

    &:hover {
        background-color: $main-orange-hover;
    }
}

.btn-light-outline {
    background-color: rgba($color: #fff, $alpha: .1);
    border: 2px solid #fff;
    color: white;
    @extend .btn-rounded;

}