.container {
    max-width: 968px;
    margin: 0 auto;
    padding: 0 4%;
}

.bold {
    font-weight: 600;
}

.btn-rounded {
    border-radius: 30px;
    @include btn-spacing();
}

.text-orange {
    color: $main-orange;
}

.title {
    color: $gray;
    font-size: 2rem;
    font-weight: 600;
}