.container {
    max-width: 968px;
    margin: 0 auto;
    padding: 0 2%;
}

.btn-rounded {
    border-radius: 30px;
    @include btn-spacing();
}

.text-orange {
    color: $main-orange;
}

.text-dark {
    color: $gray;
}